.case {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 80%;
  height: 45px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #D3DAE6;
}

.caseName {
  flex: 1 1 50%;
  font-size: 18px;
  margin-bottom: 10px;

}

.caseProgress {
  flex: 1 1 40%;
  font-size: 18px;
  margin-bottom: 10px;
}

.caseStatus {
  flex: 1 1 10%;
  font-size: 18px;
  margin-bottom: 10px;
}

.progressBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 35px;
  background-color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}