.modal-help {
  display: flex;
  margin-left: 20px;
}

.help-information {
  background-color: white;
  width: max-content;
  margin-left: 10px;
  padding: 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  align-self: stretch;
}

.help-icon-container {
  display: flex;
  align-items: center;
  height: 2rem;
}

.help-icon {
  cursor: pointer;
}

.help-icon:hover {
  color: rgb(250, 166, 107);
}